<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" ng-app="monsterButikken">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>MonsterButikken</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="monsterbutikken.css">
</head>
<body >
<br/>
<div class="container">


    <div class="page-header">
    <img class="center" src="img/logo.png" alt="Monsterbutikken">
        <br>
    </div>
<div class="row" ng-controller='MonsterController'>
        <accordion class="col-md-6" close-others="oneAtATime" >
            <accordion-group  ng-repeat="monster in monstre">
                <accordion-heading>
                    <span class="col-md-1 glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></span>
                    <span>{{monster.navn}}</span>
                    <button class="btn pull-right btn-primary btn-xs" ng-click="leggTilMonster(monster, $event)">{{monster.pris | currency}}</button>
                </accordion-heading>
                    <div class="col-md-offset-1">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            </accordion-group>
        </accordion>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-shopping-cart"></span> Handlekurv</div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="kjop in handlekurv">
                        <div class="row">
                            <button style="margin-left: 15px" class="btn btn-danger btn-xs" ng-click="fjernMonster(monster)">Fjern</button><span class="list-group-item-heading"> {{kjop.monster.navn}} ({{kjop.antall}})</span>
                            <span style="margin-right: 15px" class="pull-right list-group-item-heading">{{kjop.monster.pris * kjop.antall | currency}}</span>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                        <strong style="margin-right: 15px" class="pull-right list-group-item-heading ">{{getHandlekurvSum() | currency}}</strong>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" ng-click="betal()" ng-show="handlekurv.length > 0">Betal</button>

            </div>
        </div>
    </div>
</div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="monsterButikken.js"></script>

</body>
</html>