<div class="container" data-ng-controller='ShopController'>

    <div class="panel panel-default col-md-10">
        <div class="panel-body" data-ng-show="customerName">
            <span style="margin-left: 5px"> Logged in as {{customerName}} </span><button data-ng-click="logOut()">log out</button>
        </div>
    </div>

    <div class="row" >

        <accordion class="col-md-6" close-others="oneAtATime" >
            <accordion-group  ng-repeat="monsterType in monsterTypes">
                <accordion-heading>
                    <span class="col-md-1 glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></span>
                    <span>{{monsterType.name}}</span>
                    <button class="btn pull-right btn-primary btn-xs" data-ng-click="addMonster(monsterType.name, $event)">{{monsterType.price | currency}}</button>
                </accordion-heading>
                    <div class="col-md-offset-1">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            </accordion-group>
        </accordion>

        <div class="col-md-4" data-ng-hide="thanksForYourOrder">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-shopping-cart"></span> Basket</div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item" data-ng-show="basketEmpty">
                            <span>No monsters in basket</span>
                        </div>
                        <div class="list-group-item" data-ng-repeat="basketLineItem in basket">
                            <div class="row">
                                <button style="margin-left: 15px" class="btn btn-danger btn-xs" data-ng-click="removeMonster(basketLineItem.name)">Remove</button><span class="list-group-item-heading"> {{basketLineItem.name}} ({{basketLineItem.number}})</span>
                                <span style="margin-right: 15px" class="pull-right list-group-item-heading">{{basketLineItem.price * basketLineItem.number | currency}}</span>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                            <strong style="margin-right: 15px" data-ng-hide="basketEmpty" class="pull-right list-group-item-heading ">{{basketSum | currency}}</strong>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" data-ng-click="order()" data-ng-hide="basketEmpty">Order monsters</button>
                </div>
            </div>
        </div>

        <div class="col-md-4" data-ng-show="thanksForYourOrder">
            <div class="alert alert-success">
                <p>We thank you for your order. The monsters will be delivered to your secret headquarters as quickly as possible.</p><p>The Monster Shop accepts no responsibility for any damages the monsters might do to personnel or structures</p> <br>
                <button class="btn btn-success" data-ng-click="thanksForYourOrder = false">Order more monsters</button>
            </div>
        </div>

        <div class="col-md-4" >
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Orders</div>
                <div class="panel-body">
                    <div class="list-group">
                        <div data-ng-repeat="(key, value) in orders">
                            <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search pull-left" data-ng-click="viewOrder(key)"></span></button>
                            <span class="list-group-item-heading"> {{value.date | date:"dd.MM.yyyy"}} {{value.sum | currency}} </span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="confirmOrderModal.html">
        <div class="modal-header">
            <h3>Please confirm that you would like to order the monsters below</h3>
        </div>
        <div class="modal-body">
            <div class="list-group">
                <div class="list-group-item" data-ng-repeat="basketLineItem in basket">
                    <div class="row">
                        <span class="list-group-item-heading"> {{basketLineItem.name}} ({{basketLineItem.number}})</span>
                        <span style="margin-right: 15px" class="pull-right list-group-item-heading">{{basketLineItem.price * basketLineItem.number | currency}}</span>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <strong style="margin-right: 15px" class="pull-right list-group-item-heading ">{{sum | currency}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="confirm()">Confirm order</button>
            <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="viewOrderModal.html">
        <div class="modal-header">
            <h3>Your order placed on {{order.date | date:"dd.MM.yyyy"}} at {{order.date | date:"HH:mm"}}</h3>
        </div>
        <div class="modal-body">
            <div class="list-group">
                <div class="list-group-item" data-ng-repeat="orderLineItem in order.orderLineItems">
                    <div class="row">
                        <span class="list-group-item-heading"> {{orderLineItem.name}} ({{orderLineItem.number}})</span>
                        <span style="margin-right: 15px" class="pull-right list-group-item-heading">{{orderLineItem.price * orderLineItem.number | currency}}</span>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <strong style="margin-right: 15px" class="pull-right list-group-item-heading ">{{order.sum | currency}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="close()">Close</button>
        </div>
    </script>

</div>

